body {
  font-family: sans-serif;
}
.grid {
  margin: 0px auto;
  border-collapse: collapse;
  border: 1px solid black;
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
}
.grid td {
  border: 1px solid black;
  text-align: center;
  width: 36px;
  height: 36px;
  position: relative;
  cursor: default;
}