body {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}
#main {
  /*column-count: 2;*/
}
.griddiv {
  padding: 20px;
  page-break-inside: avoid;
}
.grid {
  margin: 0px auto;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 19px;
  cursor: default;
}
.grid td {
  border: 1px solid black;
  text-align: center;
  width: 36px;
  height: 36px;
  position: relative;
  padding: 0px;
}

#progress {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#progress-outer {
  margin: 150px auto;
  height: 20px;
  border: 2px solid black;
  background: #e4bda6;
  box-shadow: 0px 0px 8px #444;
}
#progress-inner {
  height: 100%;
  background: #60ff89;
  border-right: 2px solid black;
}