@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(audiowide1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: url(audiowide2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
html, body { overflow: hidden; }
body {
    background: #ddd;
    font-family: 'Audiowide', Consolas, monospace;
    font-size: 16px;
}
a {
    cursor: pointer;
}
#game {
    margin: 0px auto;
    border: 3px solid #fff;
    background: #444;
    border-radius: 25px;
    position: relative;
}
#title {
    display: block;
    margin: 0px auto;
}
#instructions {
    text-align: center;
    font-size: 35px;
}
#instructions img {
    vertical-align: bottom;
}
#status {
    font-size: 21px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
    right: 20px;
    height: 40px;
}
#status a {
    text-decoration: none;
    color: #bbf;
}
#win {
    font-size: 32px;
    text-align: center;
    color: #fff;
    background: #000;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 300px;
    right: 300px;
    height: 40px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #F6F93E;
}    
#level, #select {
    float: left;
}
#buttons, #winbuttons, #choice {
    float: right;
}
#credit {
    margin: 0px auto;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
    color: #555;
}
#credit a {
    text-decoration: none;
    color: #4E61A7;
}
.grab {
    cursor: pointer;
}
.hex {
    fill: #76e5e5;
    stroke: #A4EFEF;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.hex_l {
    opacity: 0.5;
}
.hex_o {
    stroke: #555;
    fill: #bbb;
}
.hex_f {
    stroke: #884;
    fill: #ff8;
}
.hex.hover {
    stroke: #fff;
}
.text {
    fill: #00a;
    font-size: 16px;
    cursor: pointer;
}
.text_l {
    display: none;
}
.block {
    fill: none;
    stroke: #F562AE;
    stroke-width: 3px;
    stroke-linecap: round;
}
.require {
    fill: none;
    stroke: #0f0;
    stroke-width: 4px;
    stroke-linecap: round;
}
.piecehome {
    fill: #bbb;
    stroke: #777;
}
.piece {
    fill: none;
    stroke: #ef3;
    stroke-linejoin: round;
    stroke-linecap: butt;
}
.piece.selected {
    stroke: #c16ae1;
}
.piece.fixed {
    stroke: #eee;
}
.hintpiece {
    fill: none;
    stroke: #0ff;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-dasharray: 7 3;
}
#random {
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: #ccc;
}
.hinttext {
    color: #0ff;
    position: absolute;
}
.hintline {
    fill: none;
    stroke: #0ff;
    stroke-width: 2px;
}
#hint5t, #hint6t {
    left: 50px;
    top: 55px;
}
#hint7t {
    right: 205px;
    top: 35px;
}