html, body { overflow: hidden; }
body {
    background: #ddd;
    font-family: 'Audiowide', Consolas, monospace;
}
#game {
    margin: 0px auto;
    border: 3px solid #fff;
    background: #444;
    border-radius: 25px;
    position: relative;
}
#title {
    display: block;
    margin: 0px auto;
}
#instructions {
    text-align: center;
    font-size: 35px;
}
#instructions img {
    vertical-align: bottom;
}
#status {
    font-size: 21px;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
    right: 20px;
    height: 40px;
}
#status a {
    text-decoration: none;
    color: #bbf;
}
#win {
    font-size: 32px;
    text-align: center;
    color: #fff;
    background: #000;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 300px;
    right: 300px;
    height: 40px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #F6F93E;
}    
#level, #select {
    float: left;
}
#buttons, #winbuttons, #choice {
    float: right;
}
#credit {
    margin: 0px auto;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
    color: #555;
}
#credit a {
    text-decoration: none;
    color: #4E61A7;
}
.grab {
    cursor: pointer;
}
.hex {
    fill: #76e5e5;
    stroke: #A4EFEF;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.text {
    fill: #00a;
    font-size: 16px;
    cursor: pointer;
}
.block {
    fill: none;
    stroke: #EC1717;
    stroke-width: 3px;
    stroke-linecap: round;
}
.require {
    fill: none;
    stroke: #0f0;
    stroke-width: 4px;
    stroke-linecap: round;
}
.piecehome {
    fill: #bbb;
    stroke: #777;
}
.piece {
    fill: none;
    stroke: #ef3;
    stroke-linejoin: round;
    stroke-linecap: butt;
}
.piece.selected {
    stroke: #c16ae1;
}
.piece.fixed {
    stroke: #eee;
}
#random {
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: #ccc;
}