.numbrix-given {
  background-color: hsl(183, 100%, 93%);
}
.numbrix-cell:hover {
  background-color: hsl(61, 100%, 83%);
}
.numbrix-cell.numbrix-given:hover {
  background-color: hsl(183, 100%, 73%);
}
.numbrix-start {
  background: hsl(14, 100%, 73%);
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.numbrix-number {
  position: relative;
}
.numbrix-line {
  position: absolute;
  left: 0px;
  top: 0px;
  stroke: hsl(130, 77%, 51%);
  stroke-width: 18px;
  opacity: 0;
  stroke-linecap: round;
}
.numbrix-ui {
  width: 100px;
  margin: 0px auto;
  font-size: 24px;
}
.numbrix-pointer {
  cursor: pointer;
}