body {
    background: #e0d884;
}

#title {
    margin: 10px auto;
    text-align: center;
    font-size: 35px;
    width: 800px;
}

#container {
    width: 800px;
    height: 600px;
    margin: 10px auto;
    background: white;
    box-shadow: 2px 2px 12px #888;
    border-radius: 5px;
    overflow: hidden;
}

#stage {
    position: relative;
}

#controls {
    text-align: center;
    margin: 20px auto;
}

#controls input {
    border: 2px solid #6270c8;
    background: #e5e7f6;
    padding: 5px 15px;
    font-size: 25px;
    font-weight: bold;
}

#start, #reset {
    visibility: hidden;
}

.sprite {
    position: absolute;
}

.sprite img {
    position: absolute;
}

.story {
    background: #fff;
    display: block;
    margin: 15px auto;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 2px 2px 12px #888;
    width: 500px;
    height: 80px;
    text-decoration: none;
}
.story:hover {
    background: #ddf;
}
.story img {
    padding-left: 20px;
}
.story span {
    position: relative;
    bottom: 30px;
}