html, body {
    height: 100%;
    margin: 0;
}
body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}
body, td, input, select {
    color: #fff;
    font-family: monospace;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #3a332a;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #a0835f;
}
::-webkit-scrollbar-corner {
    background: #a0835f;
    visibility: hidden;
}
input, select {
    background: #32847c;
    padding: 1px 3px;
    margin: 1px;
    border: none;
}
input[type="button"] {
    border: 1px solid white;
}
input[type="checkbox"] {
    vertical-align: bottom;
    border: 1px solid white;
}
input:focus, select:focus {
    background: #843232;
}
input[type="button"]:hover, input[type="button"].selected {
    background: #843232;
}
#title {
    font-weight: bold;
    margin: 3px auto;
    flex: none;
}
.doubleup {
    zoom: 2;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
.wait {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}
.hide {
    visibility: hidden;
}
.box {
    margin: 3px;
    border: 1px dashed #668;
    padding: 3px;
}
