.placedb {
    display: flex;
    flex-flow: column;
}
.placedb > .search {
    height: 140px;
    flex: none;
    display: flex;
    flex-flow: column;
}
.placedb > .search > .body {
    flex: 1;
}
.placedb > .search > .buttons {
    margin-left: auto;
    flex: none;
}
.placedb > .results {
    flex: 1;
    display: flex;
    flex-flow: column;
}
.placedb > .results > .body {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.placedb > .results .table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}
.placedb > .results .result > td {
    background: #32847c;
    border-top: 1px solid #224;
    padding: 0px 2px;
}
.placedb > .results .result:first-child > td {
    border-top: none;
}
.placedb > .results .result:hover > td {
    background: #843232;
}
.placedb > .results .result.selected > td {
    background: #843232;
}
.placedb > .results > .buttons {
    margin-left: auto;
    flex: none;
}
