.placeedit {
    display: flex;
    flex-flow: column;
}
.placeedit > .info {
    flex: none;
}
.placeedit > .info > .buttons {
    float: right;
}
.placeedit > .notinfo {
    flex: 1;
    display: flex;
    flex-flow: row;
}
.placeedit > .notinfo > .view {
    flex: 1;
    display: flex;
    flex-flow: column;
}
.placeedit .view > .body {
    flex: 1 auto;
    margin: 10px;
    position: relative;
    overflow: auto;
}
.placeedit .view canvas {
    cursor: crosshair;
    position: absolute;
}
.placeedit .view canvas.lock-tool {
    cursor: move;
    cursor: grab;
}
.placeedit > .notinfo > .toolbar {
    width: 300px;
    flex: none;
    display: flex;
    flex-flow: column;
}
.placeedit > .notinfo > .toolbar > .tools {
    height: 100px;
    flex: none;
}
.placeedit .tools input[type="button"] {
    width: 100%;
}
.placeedit > .notinfo > .toolbar > .thing {
    height: 100px;
    flex: none;
}
.placeedit > .notinfo > .toolbar > .thing .canvasfloat {
    float: right;
}
.placeedit > .notinfo > .toolbar > .thingdb {
    flex: 1;
}
.placeedit > .notinfo > .toolbar > .tile {
    flex: 1;
}
