.mu_keyboard_key {
    cursor: pointer;
}
.mu_keyboard_white {
    fill: #fff;
    stroke: #000;
}
.mu_keyboard_black {
    fill: #000;
    stroke: #000;
}
.mu_keyboard_hover {
    fill: #ff8;
}
.mu_keyboard_playing {
    fill: #bbf;
}
.mu_keyboard_middle_c_mark {
    fill: #ccc;
    stroke: none;
}

.mu_pitchconstellation {
    cursor: pointer;
}
.mu_pitchconstellation_ray {
    stroke: #000;
    stroke-width: 2px;
    stroke-linecap: round;
    opacity: 0.2;
}
.mu_pitchconstellation_ray2 {
    stroke: none;
}
.mu_pitchconstellation_label {
    fill: #000;
    font-family: Verdana;
}
.mu_pitchconstellation_ray2_playing {
    stroke: #f00;
    stroke-width: 3px;
    stroke-linecap: round;
    opacity: 1;
}

.mu_chordline_base {
    stroke: #d8d8d8;
}
.mu_chordline_minortick {
    stroke: #4e4e4e;
    shape-rendering: crispEdges;
}
.mu_chordline_cursor {
    stroke: #f00;
    stroke-linecap: round;
}
.mu_chordline_chord {
    fill: #84eaa1;
    stroke: #548e65;
}
.mu_chordline_chord_label {
    font-family: Verdana;
}
