.fourcolor-grid {
  margin: 30px auto 0px;
  font-size: 19px;
  cursor:  pointer;
  border-collapse: collapse;
}
.fourcolor-grid td {
  width: 36px;
  height: 36px;
  padding: 0px;
  background: white;
  border: 2px solid #000;
  position: relative;
}
.fourcolor-cdiv {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.fourcolor-ui {
  margin: 0px auto;
  text-align: center;
}
@media print {
  .fourcolor-ui {
    display: none;
  }
}
.fourcolor-ui {
  margin-top: 15px;
  font-family: 'Nunito';
  width: 400px;
}
.fourcolor-swatch {
  display: inline-block;
  width: 42px;
  height: 30px;
  border-radius: 8px;
  border: 3px solid transparent;
  opacity: 0.7;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.fourcolor-swatch-selected {
  border: 3px solid black;
  opacity: 1;
}