.grid.shikaku-grid {
  cursor: pointer;
}
.shikaku-ui {
  margin: 0px auto;
  text-align: center;
}
@media print {
  .shikaku-ui {
    display: none;
  }
}
.shikaku-ui {
  margin-top: 30px;
  font-family: 'Nunito';
  width: 200px;
}
.shikaku-victory {
  font-size: 25px;
}